header {
}
footer {
}
a{
    text-decoration: none!important;
    color: inherit!important;
}
.chatbox {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chatbox__messages-block{
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 85px;
    width: 88%;
}
.chatbox__contacts-block {
    width: 25%;
    border: 1px solid black;
}
.chatbox__input-space{
    display: flex;
    position: fixed;
    width: 88%;
    bottom: 0;
}
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}
.input__file-button {
    background: darkseagreen;
    width: 75px;
    height: 45px;
    font-size: 24px;
    border-radius: 7px;
    box-shadow: black 1px 1px 1px;
    margin: 10px;
    margin: 0 auto;
}
.new_message{
    line-height: 20px;
    width: 77%;
    border-radius: 7px;
    padding: 7px;
    margin: 10px auto;
    font-size: 20px;
    padding-top: 12px;
}
.message-holder{
    display: flex;
    flex-flow: column;
}
.message-body{
    text-align: right;
    padding: 10px;
    display: flex;
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
    margin: 5px 10px;
    flex-direction: column;
    position: relative;
    width: fit-content;
    min-width: 250px;
}
.contact-holder {
    padding: 10px;
    background: #faebd7c7;
}
.message-text{
    width: fit-content;
    max-width: 400px;
}
.message-date-time{
    width: 100%;
}
.income{
    margin-left: auto;
    background-color: azure;
}
.add_file {
    background: darkseagreen;
    width: 75px;
    height: 45px;
    font-size: 24px;
    border-radius: 7px;
    box-shadow: black 1px 1px 1px;
    margin: 10px;
}
.send_button {
    background: darkseagreen;
    width: 127px;
    height: 45px;
    font-size: 24px;
    border-radius: 7px;
    box-shadow: black 1px 1px 1px;
    margin: 10px;
}
.indicator {
    margin-bottom: 2px;
    height: 18px;
}
#typing_status{
    margin-bottom: 8px;
}
.message-controls {
    content: "\203A";
    transform: rotate(90deg);
    width: 10%;
    font-size: 30px;
    margin-left: auto;
    margin-top: -15px;
    cursor: pointer;
}
.message-main-part{
    display: flex;
}
.main-chatbox-screen{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.chatbox__header{
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    z-index: 9;
    background-color: white;
    border: 2px solid;
}
.message-controls-display{
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid gray;
}
.message-control-item{
    text-align: center;
    margin: 0;
}
.message-controls-display{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 70%;
    margin-left: auto;
    display: none;
}
.answeredMessageHolder {
    text-align: right;
    background-color: #adb5bd9e;
    padding: 0 30px;
    margin-bottom: -10px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 3px;
}
.ansMessageLabel {
    margin: 0;
    text-decoration: underline;
}
.answeredMessageText{

}
.incomeAnsMessage {
    margin-left: 10px;
    text-align: left;
}
.chatbox__header-burger-button{
    margin-right: 10px;
    display: none;
}
.chatbox__header-info {
    width: 100%;
}
.chatbox__controls {
    display: flex;
}
.message-image {
    max-width: 250px;
    max-height: 400px;
}
@media (max-width: 700px) {
    footer{
        display: none;
    }
    header{
        display: none;
    }
    
    .send_button{
        width: 50px;
        overflow: hidden;
        padding: 0;
        border-radius: 40px;
        font-size: 43px;
        line-height: 0;
    }
    .input__file-button-text {
        padding: 0;
        font-size: 43px;
        font-weight: 700;
        line-height: 0.9;
    }
    .new_message{
        font-size: 16px;
        width: 72%;
    }
    .chatbox__contacts-block{
        display: none;
    }
    .main-chatbox-screen{
        width: 99%;
    }
    .chatbox__header{
        width: 94%;
    }
    .chatbox__header-info{
        width: max-content;
        margin-left: 15px;
        margin-top: 10px;
    }
    .chatbox__header-burger-button{
        display: block;
    }
    .chatbox__messages-block{
        width: 94%;
    }
    .chatbox__contacts-block{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 70%;
        width: 300px;
        background: azure;
    }
    .chatbox__input-space{
        left: 10px;
        width: 97%;
    }
    #add_file_button {
        width: 30px;
    }
    .input__file-button {
        width: 30px;
        margin: 10px;
        margin-right: 2px;
    }


}

